body {
    text-align: center !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(12,121,9);
    background: linear-gradient(90deg, rgba(12,121,9,1) 0%, rgba(29,255,0,1) 50%, rgba(12,121,9,1) 100%);
}
.changed {
    color: blue;
}
.correct {
    color: darkslategray;
}
.incorrect {
    color: red;
}